*{
    padding:0;
    margin:0;
    text-align: center;
    /* border: border-box; */
}

h1{
    background-color: #091b31;
    color:#fff;
    height:5rem;
    line-height:5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
}

img{
    height: 160px;
    width: 160px;
    /* object-fit: cover; */
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    transition: ease-in-out;
    background-color:#091b31;
    rotate:-90deg;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}

#user-score,#comp-score{
    font-size:4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #091b31;
    color: #fff;
    font-size: 2rem;
    padding:1rem;
    display:inline;
    border-radius: 1rem;
}